.btn-primary {
	background-color: #e57567;
	border-color: #e57567;
	margin: 5px;
}

/*.btn, btn-primary {

}*/

.container-fluid {
	padding: 0px;
}

#btns {
	background-color: aquamarine;
	height: 140px;
}

#selection {
	display: inline-block;
	background-color: cornflowerblue;
	height: 670px;
	width: 990px;
}

#add-show {
	float: right;
	background-color: salmon;
	height: 670px;
	width: 445px;
}

